:root{
    --num-columnas: 10;
    --num-filas: 10;
    --size: 32px;
}

@font-face{
    font-family: 'sevensec';
    src: url('fonts/7segment.ttf');
}


.fa-bomb:before {color: #B22222;}
.fa-question::before{color: #6495ed;}
.fa-flag.correct::before{color: forestgreen;}

#tablero{
    display:grid;
    grid-template-columns: repeat(var(--num-columnas), var(--size));
    grid-template-rows: repeat(var(--num-filas), var(--size));
}

#tablero div{
    background-color: #BBBBBB;
    border-top: 2px solid #A9A9A9;
    border-left: 2px solid #A9A9A9;
    border-right: 2px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
    text-align: center;
    line-height: var(--size);
    user-select: none;
}

#tablero div.destapado{
    background-color: #979797;
    border-top: 1px solid #A9A9A9;
    border-left: 1px solid #A9A9A9;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}

#jugar{
    height: var(--size);
    width: 20%;
    background-color: #BBBBBB;
    border-top: 2px solid #A9A9A9;
    border-left: 2px solid #A9A9A9;
    border-right: 2px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
    text-align: center;
    font-size: x-large;
    user-select: none;
}

#jugar:hover{
    box-shadow: inset 0px 0px 4px 0px white;
}

#tablero div:not(.destapado):hover{
    box-shadow: inset 0px 0px 4px 0px white;
}

.header-num{
    background-color: #BBBBBB;
    border-top: 2px solid #A9A9A9;
    border-left: 2px solid #A9A9A9;
    border-right: 2px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
    line-height: var(--size);
    width: 40%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    user-select: none;
    font-family: sevensec;
    text-shadow: 1px 1px 1px black;
}